.social-media-icons {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}

.social-media-icons img {
  max-width: 50%;
  transition: transform .2s, box-shadow .3s;
  border-radius: 50%;
}

.social-media-icons img:hover {
  transform: scale(1.5);
  box-shadow: 0 0 11px rgba(33,33,33,.5);
}
