.social-media-icons {
  display: flex;
  width: 80%;
}

.social-media-icons img {
  width: 2.49rem;
}

.social-media-icons a {
  width: auto;
  margin-right: .5rem;
}

.social-media-icons a:hover {
  outline-offset: 0;
}

.social-media-icons img:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.5);
}

#mail-share img {
  background-color: #FFF;
  width: 2.45rem;
}

.share-this {
  margin-bottom: .5em;
}
